.equipment {
  overflow: hidden;
  &__inner {
    grid-template-columns: 60% 40%;
    grid-gap: 50px;
  }
  &__content {
    order: 2;
  }
  &__visual {
  }
}

@media screen and (max-width: $md) {
  .equipment {
    &__description {
      max-width: 50%;
    }
  }
}

@media screen and (max-width: $sm) {
  .equipment {
    overflow: hidden;
    padding: 60px 0;
    &__visual {
      width: 120%;
      height: 100%;
      overflow-y: hidden;
      & img {
      }
    }
  }
}
