.footer {
  //   padding: 12vh;
  color: #fff;
  background-image: url(../images/backgrounds/footer-bg.jpg);
  background-position: 50% 0%;
  background-size: cover;

  & .container {
    min-height: 50vh;
    padding: 120px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .logo {
    margin-bottom: 50px;
  }

  &__info {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.42px;
    margin-bottom: 25px;
    width: 350px;
  }

  & .lang {
    position: relative;
    margin-left: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;

    &:before {
      content: '';
      position: absolute;
      left: -30px;
      width: 20px;
      height: 16px;
      background-image: url(../images/en.svg);
    }
  }

  & .copyrights {
    font-size: 12px;
    line-height: 22px;
    color: rgba($color: #ffffff, $alpha: 0.6);
  }
}

@media screen and (max-width: $sm) {
  .footer {
    padding: 80px 0;
    background-size: cover;

    &__info {
      width: 100%;
    }
  }
}
