.partners {
  width: 100%;

  &__items {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    & + & {
      margin-left: 80px;
    }
  }

  &__link {
  }
}

@media screen and (max-width: $sm) {
  .partners {
    padding: 30px 0;
    &__items {
      height: unset;
      flex-direction: column;
    }
    &__item {
      & + & {
        margin-left: unset;
        margin-top: 50px;
      }
    }
  }
}
